.hammerButtonText {
    background: silver;
    height: 1.2cm;
    width: 1.2cm;
    line-height: 1.2cm;
    text-align: center;
    vertical-align: middle;
    font: Helvetica, Arial, sans-serif;
}

.hammerButtonOther {
    background: silver;
    height: 0.74cm;
    width: 0.74cm;
    line-height: 0.74cm;
    text-align: center;
    vertical-align: middle;
    font: Helvetica, Arial, sans-serif;
}

.button {
    height: 1cm;
    width: 1cm;
}

#msg {
    width: 100%;
}

#letterArea {
    margin-left: 10%;
    margin-right: 10%;
}

#wpmText {
    font-weight: bold;
}
