.hammerButton {
    background: silver;
    height: 1.4cm;
    width: 1.4cm;
    line-height: 1.4cm;
    text-align: center;
    vertical-align: middle;
    font: Helvetica, Arial, sans-serif;
}

.button {
    height: 1cm;
    width: 1cm;
}

#msg {
    width: 100%;
}

#letterArea {
    margin-left: 5%;
    margin-right: 5%;
}