.hammerButton {
    background: silver;
    height: 1cm;
    width: 1cm;
    line-height: 1cm;
    text-align: center;
    vertical-align: middle;
    font: Helvetica, Arial, sans-serif;
}

#btnLeft {
    float: left;
}
#btnRight {
    float: right;
}

#msg {
    width: 100%;
}
